@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #111827;
    color: white;
}


@keyframes slide-down {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-slide-down {
    animation: slide-down 0.3s ease-out;
}
